footer {
    color: white;
    font-weight: bold;
    height: 5vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 1px 0px 50px 0px rgba(241, 241, 239, 0.8);
    border-top: 2px solid white;

    background-color: rgb(55, 59, 59);
    background: url('../../assets/img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;     
  
  }